/* === Variables ===
 * 1) Bootstrap Fonts
 * 2) Bootstrap Globals
 * 3) Bootstrap Colors
 * 4) Bootstrap Container Width
*/

// 1) Bootstrap Fonts

$font-family-base: var(--bs-font-sans-serif);

// 2) Bootstrap Globals

$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;

// 3) Bootstrap Colors

$body-color: #000000; // The default text color
$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

// Overridden
$body-bg: $dark;
$body-color: $light;

// 4) Bootstrap Container Width

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
